<?xml version="1.0"?>
<connectionStrings>
	<clear/>
	<add name="WebFormsCRUD" connectionString="Server=tcp:rgdev-sqlsrv-dev01.database.windows.net,1433;Initial Catalog=08-implanta;Persist Security Info=False;User ID=paulo.cesar@implantainformatica.com.br;Password=99b@lqueirA;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Authentication='Active Directory Password';" providerName="System.Data.SqlClient"/>

</connectionStrings>
